/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */

body>.container {
    padding: 60px 15px 0;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/****************************************************
 * 	Sound DIV & Push Button
 *****************************************************/

 .sound {
     margin: 0;
     padding: 16px;
     text-align: center;
 }

 .sound h3 {
     margin: 12px 0px;
     font-size: 16px;
     font-weight: bold;
 }

.push_button {
    position: relative;
    width: 84px;
    height: 84px;
    color: #FFF;
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    border-radius: 50%;
    border: solid 1px #D94E3B;
    background: #cb3b27;
    text-align: center;
    font-size: 22px;
    line-height: 84px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 9px 0px #84261a;
    -moz-box-shadow: 0px 9px 0px #84261a;
    box-shadow: 0px 9px 0px #84261a;
}
.push_button:hover, .push_button:active {
color: rgba(255, 255, 255, 0.8);
}
.push_button:active {
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    position: relative;
    top: 7px;
}